# Default code owners
*	            @betamax @JannKleen

# JavaScript
*.js	        @betamax
*.ts	        @betamax

# Python
*.py	        @JannKleen

# Frontend and CRDT
frontend/*	    @betamax
crdt/*	        @betamax

# Python Backend
backend/*	    @JannKleen
requirements/*	@JannKleen
