volumes:
  coordnet_local_postgres_data: {}
  coordnet_local_postgres_data_backups: {}
  coordnet_local_minio_data: {}

services:
  django: &django
    build:
      context: .
      dockerfile: compose/django/Dockerfile
      target: python-run-stage
      args:
        DOCKER_BUILDKIT: 1
    image: coordnet_local_django
    container_name: coordnet_local_django
    depends_on:
      - postgres
      - redis
      - mailpit
      - minio
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
      - ./.envs/.local/.minio
      - ./.envs/.local/.secrets
      - ./.envs/.local/.django.secrets
    ports:
      - "8000:8000"
    command: /start

  postgres:
    build:
      context: .
      dockerfile: compose/postgres/Dockerfile
    image: coordnet_production_postgres
    container_name: coordnet_local_postgres
    volumes:
      - coordnet_local_postgres_data:/var/lib/postgresql/data
      - coordnet_local_postgres_data_backups:/backups
    env_file:
      - ./.envs/.local/.postgres
      - ./.envs/.local/.secrets
    ports:
      - "5433:5432"

  mailpit:
    image: axllent/mailpit:v1.8
    container_name: coordnet_local_mailpit
    ports:
      - "8025:8025"

  redis:
    image: redis:6
    container_name: coordnet_local_redis

  celeryworker:
    <<: *django
    image: coordnet_local_celeryworker
    container_name: coordnet_local_celeryworker
    depends_on:
      - redis
      - postgres
      - mailpit
    ports: []
    command: /start-celeryworker

  celerybeat:
    <<: *django
    image: coordnet_local_celerybeat
    container_name: coordnet_local_celerybeat
    depends_on:
      - redis
      - postgres
    ports: []
    command: /start-celerybeat

  pubsub:
    <<: *django
    image: coordnet_local_pubsub
    container_name: coordnet_local_pubsub
    depends_on:
      - redis
      - postgres
    ports: []
    command: /start-pubsub-listener

  flower:
    <<: *django
    image: coordnet_local_flower
    container_name: coordnet_local_flower
    ports:
      - "5555:5555"
    command: /start-flower

  crdt:
    build:
      context: .
      dockerfile: compose/crdt/Dockerfile
    image: coordnet_local_crdt
    container_name: coordnet_local_crdt
    command: ["pnpm", "dev:server"]
    restart: unless-stopped
    env_file:
      - ./.envs/.local/.crdt
      - ./.envs/.local/.postgres
      - ./.envs/.local/.secrets
    ports:
      - "8010:8010"
    develop:
      watch:
        - action: sync
          path: ./node
          target: /app
          ignore:
            - "**/node_modules/**"

  node_worker:
    build:
      context: .
      dockerfile: compose/crdt/Dockerfile
    image: coordnet_local_crdt
    container_name: coordnet_local_node_worker
    command: ["pnpm", "dev:worker"]
    env_file:
      - ./.envs/.local/.crdt
      - ./.envs/.local/.postgres
      - ./.envs/.local/.secrets
    develop:
      watch:
        - action: sync
          path: ./node
          target: /app
          ignore:
            - "**/node_modules/**"

  frontend:
    build:
      context: .
      dockerfile: compose/frontend/Dockerfile
    image: coordnet_local_frontend
    container_name: coordnet_local_frontend
    command: ["pnpm", "dev"]
    env_file:
      - ./.envs/.local/.frontend
    ports:
      - "5173:5173"
    develop:
      watch:
        - action: sync
          path: ./node
          target: /app
          ignore:
            - "**/node_modules/**"

  minio:
    image: bitnami/minio:latest
    container_name: coordnet_local_minio
    env_file:
      - ./.envs/.local/.minio
    volumes:
      - coordnet_local_minio_data:/bitnami/minio/data
    ports:
      - "9000:9000"
      - "9001:9001"
#    command: server /data --console-address ":9001"
