# JWT Signing Key
# ------------------------------------------------------------------------------
# This is the private part of a RSA key, the public key is in the .secrets file
JWT_SIGNING_KEY=---BEGIN---\nyour_jwt_signing_key\n-----END---
