# OpenAI
# ------------------------------------------------------------------------------
OPENAI_API_KEY=sk-

# WebSocket Admin
# ------------------------------------------------------------------------------
WEBSOCKET_API_KEY=

# Semantic
# ------------------------------------------------------------------------------
SEMANTIC_API_KEY=
