# OpenAI
# ------------------------------------------------------------------------------
OPENAI_API_KEY=sk-

# WebSocket Admin
# ------------------------------------------------------------------------------
WEBSOCKET_API_KEY=
