# OpenAI
# ------------------------------------------------------------------------------
OPENAI_API_KEY=sk-

# WebSocket Admin
# ------------------------------------------------------------------------------
WEBSOCKET_API_KEY=

# Semantic Scholar
# ------------------------------------------------------------------------------
SEMANTIC_API_KEY=

# PaperQA
# ------------------------------------------------------------------------------
PQA_API_KEY=
