@import "@fontsource/roboto/100.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/400-italic.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/700-italic.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #222;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
select,
textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0px;
  height: 100%;
}

body {
  display: flex;
  place-items: center;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@keyframes scaleIn {
  from {
    transform: scale(0.4);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
