.wrapper {
  flex-direction: row;
  display: flex;
  height: 100%;
}

.wrapper aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  width: 120px;
  flex-grow: 0;
  flex-shrink: 0;
}

.wrapper aside > * {
  margin-bottom: 10px;
  cursor: grab;
  color: white;
  font-weight: 700;
}

.wrapper :global aside div[class^="react-flow__node-"] {
  width: 100%;
  box-sizing: border-box;
}

.wrapper :global aside .description {
  margin-bottom: 10px;
  color: #333;
}

.wrapper .rfWrapper {
  flex-grow: 1;
  height: 100%;
}

.wrapper :global .react-flow__node {
  color: white;
  font-weight: 700;
}

.wrapper :global .react-flow__node-input {
  background: rgb(102, 39, 170);
}

.wrapper :global .react-flow__node-default {
  background: rgb(153, 26, 152);
}

.wrapper :global .react-flow__node-output {
  background: rgb(204, 13, 133);
}

.wrapper .blink {
  animation: blink 1000ms infinite ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
