.tiptap {
  height: 100%;
}
.ProseMirror {
  padding: 10px;
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__wrapper {
  border-radius: 3px 3px 3px 0;
  left: -1px;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: -18px;
  user-select: none;
  display: flex;
  align-items: center;
  height: 18px;
}

.collaboration-cursor__wrapper img {
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  border-top-left-radius: 5px;
}
.collaboration-cursor__wrapper .collaboration-cursor__label {
  padding-left: 3px;
  color: #0d0d0d;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  font-style: normal;
  font-weight: 600;
  display: block;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-right: 3px;
}

.draggable-handle {
  cursor: move;
  user-select: none;
  position: absolute;
  left: -24px;
  top: 2px;
  padding: 10px;
}

.handle {
  width: 5px;
  height: 5px;
  background-color: #d1d5db;
  padding: 0;
  border-radius: 100px;
  opacity: 0;
}

.draggable-handle:active {
  cursor: grabbing;
}
.tiptap li[draggable="true"] {
  position: relative;
  /* list-style-type: none; */
  /* display: flex;
  align-items: start; */
}

.content-wrapper {
  flex-grow: 1;
}
