{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon"
          type="image/svg+xml"
          href="{% static "coordination-network-circle-small.png" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coordination.network</title>
    <script>
      window.__COORDNET_CONFIG__ = {
        apiUrl: "{{ api_url }}",
        websocketUrl: "{{ websocket_url }}",
        crdtUrl: "{{ crdt_url }}",
        availableLLMs: {{ available_llms | safe }},
      }
    </script>
    <script type="module" crossorigin src="{% static "index.js" %}"></script>
    <link rel="stylesheet" crossorigin href="{% static "index.css" %}" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
